# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
env/
venv/
.Python

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/
elements-programming-interviews_(epi)-python.pdf
